@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 4%; /* Slate 950 */
    --foreground: 210 40% 98%;
    --card: 222 47% 7%; /* Slate 900 */
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 89% 48%; /* Sky 500 */
    --primary-foreground: 222 47% 4%;
    --secondary: 222 47% 11%; /* Slate 800 */
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 199 89% 48%;
    --accent-foreground: 222 47% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 199 89% 48%;
    --radius: 2.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}

.font-black {
  font-weight: 900;
}